<footer class="text-center py-4 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-3 mb-md-0">
          <h5>Ornitología Mallorca</h5>
          <p class="small mb-0">Protegiendo las aves de las Baleares</p>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <h6>Enlaces</h6>
          <div class="d-flex flex-column">
            <a href="/index.html" class="text-white-50 small text-decoration-none mb-1">Home</a>
            <a href="/pages/catalogo.html" class="text-white-50 small text-decoration-none mb-1">Catálogo</a>
            <a href="/pages/mapas.html" class="text-white-50 small text-decoration-none">Mapa</a>
          </div>
        </div>
        <div class="col-md-4">
          <h6>Contacto</h6>
          <p class="small text-white-50 mb-0">info@ornitologiamallorca.org</p>
        </div>
      </div>
      <hr class="my-3 bg-white opacity-25">
      <p class="mb-0 small">2025 Ornitología Mallorca. Todos los derechos reservados.</p>
    </div>
  </footer>