<header class="site-header-bar py-3">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="/index.html">Aves</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" href="/index.html" data-nav="home">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/pages/sobre-nosotros.html" data-nav="sobre">Sobre Nosotros</a></li>
          <li class="nav-item"><a class="nav-link" href="/pages/catalogo.html" data-nav="catalogo">Catálogo</a></li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Mapas</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/pages/mapas.html#MapaAves">Mapa de Aves</a></li>
              <li><a class="dropdown-item" href="/pages/mapas.html#DensidadEspecies">Densidad de Especies</a></li>
              <li><a class="dropdown-item" href="/pages/mapas.html#AvesFamilia">Aves por familia</a></li>
              <li><a class="dropdown-item" href="/pages/mapas.html#AvesConservacion">Aves por conservación</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cómo contribuir</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/pages/como-contribuir.html#PlanesRecuperación">Planes de Recuperación</a></li>
              <li><a class="dropdown-item" href="/pages/como-contribuir.html#CentrosdeRecuperación">Centros de Recuperación</a></li>
              <li><a class="dropdown-item" href="/pages/como-contribuir.html#JardinesBotánicos">Jardines Botánicos</a></li>
              <li><a class="dropdown-item" href="/pages/como-contribuir.html#ParquesNaturales">Parques Naturales</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
